{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="../static/login.css">
{% endblock %}

{% block content %}

<div class="menu">
    <h1 class="title">Login</h1>
    {{ error_message }}
    <form method="POST">
        {% csrf_token %}
        <input class="username" type="text" name="username" placeholder="Username / Email" required>
        <br>
        <input class="pass" type="password" name="password" placeholder="Password" required>
        <br>
        <button class="submit" type="submit">Login</button>
    </form>
    <a class="redirect" href="{% url 'signup' %}">新規登録の方はこちら</a>
</div>
{% endblock content %}